<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <hr>
    <h1><%= data.title %></h1>
    <hr>
    
    <form action="/" method="post">
      Renseigner le nom exacte du poste recherché (revenir à la ligne si plusieurs recherches) : <br />
      <textarea name="research" rows="6" cols="80"><%= data.research %></textarea><br />
      <input type="submit", value="Rechercher"/>
    </form>

    <%- include results.ejs %>
  </body>
</html>
